:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --background-color-dark: rgb(10, 10, 10);
  --font: 'Rubik', sans-serif;
}

h1,
h2,
h3,
p {
  font-family: var(--font);
  color: white;
}

h1 {
  font-weight: 400;
  font-size: clamp(2em, 2vw, 3em);
}

h2 {
  font-weight: 100;
  font-size: clamp(2em, 1vw, 1em);
}

p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  font-size: 20px;
}

body {
  background-color: var(--background-color-dark);
}

hr {
  width: 80%;
  opacity: 0.07;
  margin-bottom: 50px;
}

header {
  display: flex;
  position: relative;
  height: 128px;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  position: relative;
  border-radius: 30%;
  height: 80px;
  width: 80px;
}

.name-text {
  margin-left: -420px;
  position: relative;
  font-size: 35px;
}

.socials-grid {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px;
  position: relative;
}

.socials-grid > input:hover {
  transition-duration: 0.4s;
  opacity: 0.7;
}

#post {
  display: grid;
  justify-content: center;
  gap: 100px;
  grid-template-columns: 200px 800px;
}

.post-content {
  text-align: left;
}

.thumbnail {
  width: 800px;
  height: 400px;
  border-radius: 15px;
}

#blog-posts > section > img {
  width: 150px;
  height: 150px;
  border-radius: 22px 0px 0px 0px;
}

.tags {
  display: grid;
  grid-template-columns: 10px 10px 10px 10px;
  gap: 95px;
}

.tags > h1 {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
  width: 90px;
  text-align: center;
  padding: 5px 2px;
}
