@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

h1,
h2,
h3,
q,
p,
ul,
li {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

/* Paragraph text */
p {
    font-weight: 900;
    font-size: 17px;
    text-align: justify;
    word-spacing: normal;
}

q {
    font-style: italic;
}

/* Subtitles */
h2 {
    text-align: left;
    font-size: 25px;
}

body {
    /* #e052a090 | #eaeaea */
    background-image: linear-gradient(to right, #f15b41c4, #e052a0)!important;
}

hr {
    margin-top: 20px;
    border: 0;
    border-bottom: 8px dashed rgba(255, 255, 255, 0.3);
    width: 90%;
    margin-bottom: 20px;
}

pre code {
    text-align: left;
}

.header {
    height: fit-content;
    text-align: center;
}

.logo {
    margin-top: 15px;
    text-align: center;
    overflow: hidden;
    border-radius: 30%;
    position: relative;
    height: 124px;
    width: 124px;
}

#title {
    margin-top: 25px;
}

#title,
#author,
#date,
#description,
#main-content-wrapper {
    inline-size: 70%;
    justify-content: center;
    text-align: center;
    display: block;
    margin: auto;
}

#main-content-wrapper {
    margin-bottom: 50px;
}