:root {
  --background-color-dark: rgb(10, 10, 10);
  --background-color-light: rgb(222, 222, 222);
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --stars-yellow: rgb(255, 200, 61);
  --font: 'Rubik', sans-serif;
  --cursor: url("./assets/cursor.png"), auto;
}

* {
  cursor: var(--cursor);
}

h1,
h2,
h3 {
  font-family: var(--font);
  color: white;
}

h1 {
  font-weight: 400;
  font-size: clamp(2em, 2vw, 3em);
}

h2 {
  font-weight: 100;
  font-size: clamp(2em, 1vw, 1em);
}

body {
  background-color: var(--background-color-dark);
}

header {
  display: flex;
  position: relative;
  height: 128px;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  margin-top: 40px;
  height: 250px;
}

nav {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
}

hr {
  width: 60%;
  opacity: 0.07;
}

.magic-text {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.logo {
  position: relative;
  border-radius: 30%;
  height: 80px;
  width: 80px;
}

.name-text {
  margin-left: -420px;
  position: relative;
  font-size: 35px;
}

.socials-grid {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px;
  position: relative;
}

.socials-grid > input:hover {
  transition-duration: 0.4s;
  opacity: 0.7;
}

.intro-section {
  width: 100%;
  height: 550px;
  position: relative;
  margin-top: 64px;
}

#shooting-stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(40deg);
  overflow: hidden;
}

.shooting-star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #ffffff39, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699BFF);
  animation: tail 1.5s ease-in-out 1,
             falling 1.5s ease-in-out 1;
}

.shooting-star::before,
.shooting-star::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #ffffff6f, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 1.5s ease-in-out 1;
}

.shooting-star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.review-grid {
  white-space: nowrap;
  position: relative;
  margin-left: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.stars {
  width: 20px;
  height: 20px;
  fill: var(--stars-yellow);
  margin-left: 20px;
}

.review-username {
  margin-left: 20px;
}

.review-profile-picture {
  border-radius: 20px 0px 20px 0px;
}

.first-review {
  grid-column: 1;
  grid-row: 1;
}

.second-review {
  grid-column: 1;
  grid-row: 2;
}

.intro-text-1 {
  margin-left: 90px;
  grid-column: 2;
  grid-row: 1;
}

.intro-text-2 {
  margin-left: 150px;
  grid-column: 2;
  grid-row: 2;
}

.first-review,
.second-review {
  box-shadow: 0px 0px 60px rgb(123 31 162 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  min-width: 256px;
  background: radial-gradient(
    400px circle at 0px 0px,
    rgba(255, 255, 255, 0.06), 
    transparent 50%
  );
}

.bio-section {
  box-shadow: 0px 0px 65px rgba(132, 31, 162, 0.12);
  background: linear-gradient(
    180deg, 
    rgba(132, 31, 162, 0.05) 0%,
    rgba(195, 75, 189, 0.05) 50%,
    rgba(220, 80, 200, 0.05) 75%, 
    rgba(164, 110, 250, 0.05) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  justify-content: center;
  border-radius: 10px 10px 25px 25px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(164, 110, 250, 0.08);
}

.bio-text-content {
  width: 40%;
  font-size: 11px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 80px;
  inline-size: 800px; 
  overflow: hidden;
}

.blog-button {
  display: none;
  margin-bottom: 20px;
  background: linear-gradient(
    to left,
    var(--purple),
    var(--violet),
    var(--purple)
  );
  width: 160px;
  height: 48px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  border-radius: 14.5px;
  padding: 0px 15px;
  border-color: transparent;
  font-family: var(--font);
  color: white;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.blog-button:hover {
  box-shadow: 0px 0px 10px var(--purple);
}

.github-stats-section {
  margin-top: 130px;
}

.github-stats-section > h2:not(.last-text) {
  text-align: center;
}

.last-text {
  text-align: center;
  margin-bottom: 110px;
}

.github-grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

#github-commits-graph {
  margin-left: 300px;
  width: 700px !important;
  height: 350px !important;
  grid-column: 1;
  grid-row: 1;
}

.github-textual-stats {
  margin-right: 300px;
  grid-column: 2;
  grid-row: 1;
}

.github-textual-stats > h1 {
  font-size: 28px;
}

.github-textual-stats > h2 {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
}

.github-textual-stats > h1 > img:not(.snake-game-image),
.github-textual-stats > h1 > svg {
  height: 24px;
  width: 24px;
  fill: white;
}

.snake-game-image {
  width: 500px;
}

.tech-section {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  align-items: center;
}

.tech-section > h2:not(.last-text) {
  text-align: center;
}

.tech-grid {
  border: 1px solid rgba(164, 110, 250, 0.08);
  box-shadow: 0px 0px 100px rgba(132, 31, 162, 0.13);
  background: linear-gradient(
    180deg, 
    rgba(132, 31, 162, 0.08) 0%, 
    rgba(224, 82, 160, 0.08) 100%
  );
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: auto;
  box-sizing: border-box;
  justify-items: center;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 54%;
  height: 500px;
  border-radius: 10px 10px 25px 25px;
}

.hidden-language {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 140px;
  height: 140px;
}

.hidden-language:hover {
  animation: rotate-3d 1s linear;
}

.hidden-language > img {
  width: 60px;
  height: 60px;
  transform: translateY(50%);
}

.hidden-language > h3 {
  font-size: 18px;
  transform: translateY(50%);
}

.projects-section {
  margin-top: 130px;
  margin-bottom: 64px;
}

.projects-section > h2:not(.last-text) {
  text-align: center;
}

.hidden-project {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  margin-left: 25px;
  height: 400px;
  width: 400px;
}

.hidden-project > img {
  width: 330px;
  height: 200px;
  border-radius: 20px;
  transform: translate(10%, 10%);
  object-fit: cover;
}

.project-data-container {
  margin-left: 20px;
}

.project-data-container > img {
  width: 24px;
  height: 24px;
}

.project-data-container > h2 {
  margin-top: 25px;
  font-size: 25px;
}

.project-data-container > h3 {
  font-weight: 100;
}

.logo-nav-footer > img {
  border-radius: 30%;
  height: 40px;
  width: 40px;
}

.blog-nav-footer > h1,
.contact-nav-footer > h1 {
  font-size: 18px;
}

.blog-nav-footer > h2,
.contact-nav-footer > h2 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.copyrights > h2 {
  font-size: 15px;
}

.tns-nav {
  display: none;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes rotate-3d {
  from {
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: translateY(-20px) rotate3d(0, 1, 0, 10deg);
  }
}
