:root {
  --background-color-dark: rgb(10, 10, 10);
  --background-color-light: rgb(222, 222, 222);
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --stars-yellow: rgb(255, 200, 61);
  --font: 'Rubik', sans-serif;
  --cursor: url("./assets/cursor.png"), auto;
  --white: white;
  --black: black;
}

* {
  cursor: var(--cursor);
}

h1,
h2,
h3 {
  font-family: var(--font);
  color: var(--white);
}

h1 {
  font-weight: 400;
  font-size: clamp(2em, 2vw, 3em);
}

h2 {
  font-weight: 100;
  font-size: clamp(2em, 1vw, 1em);
}

body {
  background-color: var(--background-color-dark);
}

header {
  display: flex;
  position: relative;
  height: 128px;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  margin-top: 64px;
  height: 250px;
}

nav {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
}

hr {
  opacity: 0.07;
}

.magic {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.logo {
  position: relative;
  border-radius: 30%;
  height: 80px;
  width: 80px;
}

.name-text {
  margin-left: -420px;
  position: relative;
  font-size: 35px;
}

.socials-grid {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px;
  position: relative;
}

.socials-grid > input:hover {
  transition-duration: 0.4s;
  opacity: 0.7;
}

.intro-section {
  width: 100%;
  height: 550px;
  position: relative;
  margin-top: 64px;
}

.intro-grid {
  white-space: nowrap;
  position: relative;
  margin-left: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.stars {
  width: 20px;
  height: 20px;
  fill: var(--stars-yellow);
  margin-left: 20px;
}

.username-1,
.username-2 {
  margin-left: 20px;
}

.profile-picture-username-1,
.profile-picture-username-2 {
  border-radius: 20px 0px 20px 0px;
}

.first-review {
  grid-column: 1;
  grid-row: 1;
}

.second-review {
  grid-column: 1;
  grid-row: 2;
}

.intro-text-1 {
  margin-left: 90px;
  grid-column: 2;
  grid-row: 1;
}

.intro-text-2 {
  margin-left: 150px;
  grid-column: 2;
  grid-row: 2;
}

.first-review,
.second-review {
  box-shadow: 0px 0px 60px rgb(123 31 162 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  min-width: 256px;
  background: radial-gradient(
    400px circle at 0px 0px,
    rgba(255, 255, 255, 0.06), 
    transparent 50%
  );
}

.bio-section {
  box-shadow: 0px 0px 100px rgba(132, 31, 162, 0.12);
  background: linear-gradient(
    90deg, 
    rgba(132, 31, 162, 0.1) 0%, 
    rgba(224, 82, 160, 0.1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-text-content {
  width: 40%;
  font-size: 11px;
  text-align: left;
}

.blog-button {
  margin-bottom: 20px;
  background: linear-gradient(
    to left,
    var(--purple),
    var(--violet),
    var(--purple)
  );
  width: 140px;
  height: 48px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  border-radius: 9999px;
  padding: 0px 15px;
  border-color: transparent;
  font-family: var(--font);
  color: white;
  font-weight: bolder;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.blog-button:hover {
  box-shadow: 0px 0px 10px var(--purple);
}

.github-stats-section {
  margin-top: 64px;
}

.github-stats-section > h2 {
  text-align: center;
}

.github-grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

#github-commits-graph {
  margin-left: 300px;
  width: 700px !important;
  height: 350px !important;
  grid-column: 1;
  grid-row: 1;
}

.github-related-text {
  margin-right: 300px;
  grid-column: 2;
  grid-row: 1;
}

.github-related-text > h1 {
  font-size: 28px;
}

.github-related-text > h2 {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
}

.snake-game-image {
  width: 500px
}

.github-related-text > h1 > img:not(.snake-game-image),
.github-related-text > h1 > svg {
  height: 24px;
  width: 24px;
  fill: white;
}

.tech-section {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 100px rgba(132, 31, 162, 0.12);
  background: linear-gradient(
    180deg, 
    rgba(132, 31, 162, 0.08) 0%, 
    rgba(224, 82, 160, 0.08) 100%
  );
}

.tech-section > h2 {
  text-align: center;
}

.tech-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: auto;
  box-sizing: border-box;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  text-align: center;
}

.tech-grid > section {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 128px;
  height: 128px;
  margin-bottom: 50px;
  position: relative;
}

.tech-grid > section::before {
  background: radial-gradient(
    300px circle at 0px 0px, 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.tech-grid > section:hover {
  animation: rotate-3d 1s linear;
}

.tech-grid > section > img {
  width: 50px;
  height: 50px;
  transform: translateY(50%);
}

.tech-grid > section > h3 {
  transform: translateY(50%);
}

.projects-section {
  margin-top: 64px;
}

.projects-section > h2 {
  text-align: center;
}

.hidden {
  margin-left: 25px;
  height: 240px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 22px;
  background: radial-gradient(
    500px circle at 0px 0px,
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
}

.hidden > img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  transform: translate(10%, 10%);
}

.data-container {
  text-align: left;
  position: absolute;
  top: 0px;
  left: 120px;
  width: auto;
  height: 100%;
}

.data-container > img {
  width: 24px;
  height: 24px;
}

.data-container > h2 {
  font-size: 25px;
}

.data-container > h3 {
  font-weight: 100;
}

.code-section {
  box-shadow: 0px 0px 100px rgb(132 31 162 / 12%);
  background: linear-gradient(
    90deg, 
    rgba(132, 31, 162, 0.08) 0%, 
    rgba(224, 82, 160, 0.08) 100%
  );
  margin-top: 64px;
}

.code-section > h2 {
  text-align: center;
}

.code-grid {
  display: grid;
  justify-content: space-between;
  gap: 50px;
}

.code-sample-image {
  margin-left: 300px;
  height: 250px;
  width: 750px;
  grid-column: 1;
  grid-row: 1;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 64px;
}

.code-related-text {
  margin-right: 300px;
  grid-column: 2;
  grid-row: 1;
}

.code-related-text > h1 {
  font-size: 28px;
}

.code-related-text > h2 {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
}

.code-related-text > h1 > img {
  height: 32px;
  width: 32px;
  fill: white;
}

.logo-nav-footer > img {
  border-radius: 30%;
  height: 40px;
  width: 40px;
}

.blog-nav-footer > h1,
.contact-nav-footer > h1 {
  font-size: 18px;
}

.blog-nav-footer > h2,
.contact-nav-footer > h2 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.copyrights > h2 {
  font-size: 15px;
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-20%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.tns-nav {
  display: none;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes rotate-3d {
  from {
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }

  to {
    transform: translateY(-20px) rotate3d(0, 1, 0, 10deg);
  }
}

@media(prefers-reduced-motion) {
  .hidden {
    transform: none;
  }
}