@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

h1,
h2,
h3 {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

body {
    /* #e052a090 | #eaeaea */
    background-color: #eaeaea;
}

.header {
    height: fit-content;
    text-align: center;
}

.text-holder {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 40%;
    background-image: linear-gradient(to right, #e052a0, #f15c41)!important;
    border-radius: 50px;
    text-align: center;
}

.text {
    font-size: 11px;
    transform: scale(0.9);
}

.logo {
    margin-top: 50px;
    text-align: center;
    overflow: hidden;
    border-radius: 30%;
    position: relative;
    height: 124px;
    width: 124px;
}

.socials {
    text-align: center;
    margin-top: 20px;
}

.socials > input {
    width: 48px; 
    height: 48px;
}

.projects > div {
    height: 240px;
    width: 35%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #e052a0, #f15b41c4)!important;
    cursor: pointer;
    border-radius: 22px;
    position: relative;
}

.data-container {
    word-wrap: break-word;
    position: absolute;
    top: -11px;
    left: 235px;
}

/* Style main project image*/
.image-main > img {
    float: left;
    margin-top: 18px;
    margin-left: 18px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

/* Style used language images */
.data-container > img {
    width: 48px; 
    height: 48px;
}

.projects > div > div > h2 {
    font-size: 32px;
}

.blog-button {
    cursor: pointer;
    border: 2px solid #ffffff;
    width: 140px;
    height: 55px;
    border-radius: 15px;
    color: #fff;
    background-image: linear-gradient(to right, #f15b41c4, #e052a0)!important;
    font-size: 19px;
    margin-bottom: 20px;
}